os:
  - linux
dist: trusty

language: c

cache:
  directories:
    - "$HOME/.choosenim"

install:
  - export CHOOSENIM_CHOOSE_VERSION="0.18.0"
  - |
      curl https://nim-lang.org/choosenim/init.sh -sSf > init.sh
      sh init.sh -y
  - export PATH=$HOME/.nimble/bin:$PATH

before_script:
  - set -e
  - set -x

script:
  - nim c -d:ssl -r package_scanner.nim && node ./validate_json.js

notifications:
  email: false # noisy
