on: push

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: iffy/install-nim@v3.2.2
        with:
          version: stable
      - run: nim c -d:ssl -r -d:release package_scanner.nim packages.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
